.contacts__title{
  margin-top: 50px;
  margin-bottom: 50px; 
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-top: 100px;
    margin-bottom: 100px; 
  }

  @media screen and (min-width: $desktop) {
    margin-top: 200px;
    margin-bottom: 200px; 
  }
}

.contacts__footer{
        position: fixed;
        bottom: 0;
        width: 100%;
      
}